name: Run Tests

on: [push]

jobs:
  run-tests:
    name: "Setup services"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up services
        run: cd infra/docker_compose && bash restart_docker.sh && cd ../..

      - name: Run all tests
        run: ./mvnw clean test -q
        env:
          APIBASEURL: http://localhost:4111
          UIBASEURL: http://frontend

      - name: Load Test Report History
        uses: actions/checkout@v4
        if: always()
        with:
          ref: gh-pages
          path: gh-pages

      - name: Prepare folder for this run
        if: always()
        run: |
          mkdir -p gh-pages/Run_${GITHUB_RUN_NUMBER}

      - name: Build Allure Report for this run
        if: always()
        run: |
          allure generate target/allure-results --output gh-pages/Run_${GITHUB_RUN_NUMBER} --clean
          cp -r allure-history/* gh-pages/Run_${GITHUB_RUN_NUMBER}/ || true

      - name: Commit and push Allure report
        if: always()
        run: |
          cd gh-pages
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add Run_${GITHUB_RUN_NUMBER}
          git commit -m "Add Allure report for run #${GITHUB_RUN_NUMBER}" || echo "Nothing to commit"
          git push origin gh-pages

      - name: Clean up services
        if: always()
        run: cd infra/docker_compose && docker compose down